<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for c in all_cust%}
        <p>{{c.customernumber}}
            <span>&nbsp;&nbsp;&nbsp;</span>{{c.customername}}
            <span>&nbsp;&nbsp;&nbsp;</span>{{c.contactlastname}}
            <span>&nbsp;&nbsp;&nbsp;</span>{{c.contactfirstname}}
            <span>&nbsp;&nbsp;&nbsp;</span>{{c.phone}}
        </p>
    {% endfor%}
</body>
</html>